;;
; Copyright(c) 2010-2014 Intel Corporation.
; All rights reserved.
;
; Redistribution and use in source and binary forms, with or without
; modification, are permitted provided that the following conditions
; are met:
;
;   * Redistributions of source code must retain the above copyright
;     notice, this list of conditions and the following disclaimer.
;   * Redistributions in binary form must reproduce the above copyright
;     notice, this list of conditions and the following disclaimer in
;     the documentation and/or other materials provided with the
;     distribution.
;   * Neither the name of Intel Corporation nor the names of its
;     contributors may be used to endorse or promote products derived
;     from this software without specific prior written permission.
;
; THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
; "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
; LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
; A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
; OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
; SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
; LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
; DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
; THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
; (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
; OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
;;

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[interface 0]
name=cpe0
mac=00:00:00:00:00:01
[interface 2]
name=cpe1
mac=00:00:00:00:00:02
[interface 1]
name=cgnat0
mac=00:00:00:00:00:03
[interface 3]
name=cgnat1
mac=00:00:00:00:00:04

[global]
enable 1G interfaces=no
enable virtualization=no
enable promiscuous=yes
master core=0 ; must be less than any core index used in [core #] sections
mempool size=16384 ; size of mempool per core, in mbufs

; IPv4
;*****************************************************************************************
;##### Load Balancing receiving from CPE and from Internet ####
[core 1]
name=LB0
task=0
mode=lbqinq
rx port name=cpe0
tx threads=5-14 task=0 proto=ipv4
tx threads=5-14 task=1 proto=arp
drop=no
[core 2]
name=LB0
task=0
mode=lbnetwork
rx port name=cgnat0
untag mpls=yes
tx threads=5-14 task=2 proto=ipv4
drop=no
[core 3]
name=LB1
task=0
mode=lbqinq
rx port name=cpe1
tx threads=5-14 task=0 proto=ipv4
tx threads=5-14 task=1 proto=arp
drop=no
[core 4]
name=LB1
task=0
mode=lbnetwork
untag mpls=yes
rx port name=cgnat1
tx threads=5-14 task=2 proto=ipv4
drop=no
;*****************************************************************************************
;#### Worker Threads converting from qinq to gre and vice-versa. Also handling mac learning.
;#### Receiving packets from LB
[core 5,6,7,8,9,10,11,12,13,14]
name=WT0
task=0
mode=qinqdecapv4
rx ring=yes
tx port from route=yes ; also do the routing
bras ipv4=21.22.23.24
update mac on arp=yes
drop=no

task=1
mode=qinqdecaparp
rx ring=yes
bras ipv4=21.22.23.24
update mac on arp=yes
drop=no

task=2
mode=qinqencapv4
rx ring=yes    ; gre received from internal queue
tx port from learned mac=cpe0,cpe1 ; Use tx_port indirectly from gre_id, CPE...
update mac on arp=yes
drop=no
